body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  width: 360px;
  box-sizing: border-box;
  margin: 0 auto;
}

.content-section_theme_dark {
  color: #f5f5f5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background: #fee42a;
  /* height: 1368px; */
}

/* Header */

header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header__logo-image {
  height: 16px;
}

.header__menu {
  font-size: 16px;
  line-height: 19.2px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  list-style-type: none;
}

.header__menu-link {
  color: #f5f5f5;
}

/* Cover */

.cover {
  min-height: 198px;
  padding: 3px 23px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 94% auto;
  background-position: right bottom;
}
.cover__title {
  font-family: 'EB Garamond', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  color: rgb(245, 245, 245);
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Intro */

.intro__heading {
  color: #ccc;
  font-size: 16px;
  line-height: 19.2px;
}

.intro__date {
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 0 20px 37px;
  font-size: 16px;
  line-height: 21.6px;
}

/* Reasons */

.reasons {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 40px 20px;
}

.content-section__subtitle {
  font-family: 'EB Garamond', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.2px;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
}

.content-section__list-item {
  font-size: 16px;
  line-height: 21.6px;
  
}

.content-section__list-accent {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px;
}

/* how-to */

.how-to {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 40px 20px 60px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.card {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.card_theme_dark {
  background-color: #343434;
}

.card__author {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 20px 0 0 20px;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.card__author-name {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 0px 20px 20px;
}

.card__title {
  font-family: 'EB Garamond', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.7px;
}

.card__text {
  font-size: 16px;
  line-height: 21.6px;
}

.card_text-only {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 20px;
  border-radius: 30px;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #fee42a;
  align-items: center;
}

.footer__copy {
  font-size: 16px;
  line-height: 21.6px;
}

.footer__links {
  display: flex;
  column-gap: 16px;
  list-style-type: none;
  font-size: 14px;
  line-height: 17.5px;
}
